<h1>Alta</h1>

<section class="section-product-form">
    <h2>Formulario</h2>
    <div class="product-form-container">
        <form action="/api/products" method="post" id="form-alta-producto">
            <input type="hidden" id="id" name="id">
            <div>
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name">
            </div>

            <div>
                <label for="price">Precio:</label>
                <input type="text" id="price" name="price">
            </div>

            <div>
                <label for="description">Descripción:</label>
                <input type="text" id="description" name="description">
            </div>

            <div>
                <button id="btn-create">Crear</button>
                <button type="button" id="btn-update" disabled>Guardar</button>
                <button type="button" id="btn-cancel" disabled>Cancelar</button>
            </div>

        </form>
    </div>
</section>

<section class="section-products-table">
    <h2>Listado de productos</h2>
    <div class="products-table-container"></div>
</section>

