<section class="section-cards">
    <header class="section-cards__header">
        <h1>Productos</h1>
        <p>Lorem ipsum dolor sit amet.</p>
    </header>

    <div class="cards-container">

    </div>


    <footer class="section-cards__footer">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, distinctio non corrupti unde iste voluptatem.</p>
        <p>Voluptas, corporis modi id odio provident accusamus voluptates inventore harum ad possimus incidunt doloremque voluptatem!</p>
    </footer>

</section>
